---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const { title, mainImage, client, work } = project.data;
---
<div class="bg-black">
<article
  class="bg-secondary-800 rounded-lg overflow-hidden shadow-md hover:shadow-xl hover:-translate-y-1 transition duration-300 mb-8"
>
  <a href={`/project/${project.id}`} aria-label={title} class="block w-full leading-none">
    <Image width={600} height={400} src={mainImage} alt={title} />
  </a>

  <div class="p-6">
    <a href={`/project/${project.id}`} class="hover:text-primary-400 transition-colors duration-300" aria-label={title}>
      <h3 class="text-xl font-semibold mb-3 text-secondary-100">{title}</h3>
    </a>

    <div class="mt-4 space-y-2">
      <div class="flex items-center gap-3 text-sm">
        <p class="text-secondary-300 font-semibold">Client:</p>
        <span class="text-secondary-200">{client}</span>
      </div>

      <div class="flex items-center gap-3 text-sm">
        <p class="text-secondary-300 font-semibold">Work:</p>
        <span class="text-secondary-200">{work}</span>
      </div>
    </div>
  </div>
</article>
</div>